<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Connected Clients</title>
</head>

<body>
    {% if error_msg %}
    <p style="color: red;">{{ error_msg }}</p>
    {% endif %}
    <p>Files:</p>
    <ul>
        {% for file in files %}
        <li><a href="/file/{{ file }}">{{ file }}</a></li>
        {% endfor %}
    </ul>
    <h1>Connected Clients</h1>
    <ul>
        {% for item in clients %}
        <li><a href="/soundboard/{{ item }}">{{ item }}</a></li>
        {% endfor %}
    </ul>
</body>

</html>